<!-- Excerpt -->
<div class="excerpt">

<div class="excerpt__image__container">
<!-- Excerpt Image -->
<a href="{{ project.url }}">
<div class="excerpt__image">
    <img src="{{project.image}}" alt="{{project.title}}"/>
</div>
</a>
</div>

<!-- Excerpt Text -->
<div class="excerpt__text text-center">
  
      <ul class="vertical menu">
        <li><a href="{{ project.url }}">{{ project.title }}</a</li>
        {% if project.artist %}
        <li><a href="{{ project.url }}">{{ project.artist }}</a></li>
        {% endif %}
        {% if project.director %}
        <li><a href="{{ project.url }}">{{ project.director }}</a></li>
        {% endif %}
        {% if project.credit %}
        <li class="excerpt__text__credit"><a href="{{ project.url }}">{{ project.credit }}</a></li>
        {% endif %}
        <li><a href="{{ project.url }}">{% if project.record-label %}{{ project.record-label }},{% endif %} {{ project.date | date: "%Y" }}</a></li>
        
      </ul>
      
</div>
<!-- End Excerpt Text -->

</div>
<!-- End Excerpt -->