<!-- Excerpt -->
<div class="excerpt">

<div class="excerpt__image__container">
<!-- Excerpt Image -->
<a href="{{ project.url }}">
<div class="excerpt__image">
    <img src="{{project.image}}" alt="{{project.title}}"/>
</div>
</a>
</div>

<!-- Excerpt Text -->
<div class="excerpt__text text-center">
  
      <ul class="vertical menu">
        <li><a href="{{ project.url }}">{{ project.title }}</a></li>
        <li><a href="{{ project.url }}">{{ project.director }}, {{ project.date | date: "%Y" }}</a></li>   
      </ul>
      
</div>
<!-- End Excerpt Text -->

</div>
<!-- End Excerpt -->