<!-- Excerpt -->
<div class="column images__image excerpt">

  <div class="excerpt__image__container">
  <div class="excerpt__image">
      <img src="{{image}}" alt="{{caption}}"/>
      <div class="excerpt__image__text">{{caption}}</div>
  </div>
  </div>

</div>
<!-- End Excerpt -->



<!-- Excerpt -->
<div class="column images__image excerpt"><div class="excerpt__image__container"><div class="excerpt__image"><img src="{{image}}" alt="{{caption}}"/>{{caption}}</div></div></div>
<!-- End Excerpt -->