@font-face {
  font-family: 'GT America Light';
  src: 
  url('../fonts/gt-america-light.woff2') format('woff2'), 
  url('../fonts/gt-america-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}