---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>

<!-- Wrapper -->
<div class="flex-container flex-dir-column wrapper" style="height: 100vh;">
  
<!-- Navigation -->
<div class="flex-child-shrink">
{% include navigation.html %}
</div>
<!-- End Navigation -->

<!-- Content -->
<div class="flex-child-grow page {{page.title | slugify}}">
{{ content }}
</div>
<!-- End Content -->

<!-- Footer -->
<div class="flex-child-shrink">
{% include footer.html %}
</div>
<!-- End Footer-->

</div>
<!-- End Wrapper -->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>

</html>