---
layout: default
---


<!-- About -->
<section class="index__about" data-aos="fade-in">
  <div class="row expanded">
  	<div class="small-11 medium-10 large-8 columns">
      {{page.about-text | markdownify }}
  	</div>
  </div>
</section>
<!-- End About -->

<!-- Recent -->
<!--
<section class="index__recent" data-aos="fade-in">
  <div class="row expanded">
  	<div class="small-11 medium-10 large-8 columns">
      {{page.recent-text | markdownify }}
  </div>
</section>
-->
<!-- End About -->