---
layout: default
---

<!-- About -->
<section class="home__about" data-aos="fade-in">
  <div class="row expanded align-center">
  	<div class="small-11 medium-10 large-8 columns text-center">
      {{page.about-text | markdownify }}
  	</div>
  </div>
</section>
<!-- End About -->

<!-- Recent -->
<section class="home__recent" data-aos="fade-in">
  
  <div class="row expanded align-center text-center">
  	<div class="small-11 medium-10 large-8 columns">
      {{page.recent-text | markdownify }}
    </div>
  </div>
  
  <div class="row expanded align-center text-center">
  	<div class="small-11 medium-10 large-8 columns">
    {% assign projects = site.projects %}
    {% for project in projects limit:8 %}
    <h1><a href="{{ project.url }}">{{ project.title }}</a></h1>
    {% endfor %}
    </div>
  </div>
      
</section>
<!-- End Recent -->