---
layout: default
---

<!-- Releases -->
<section class="music__section">
  <div class="row align-center music__section__title">
  	<div class="medium-10 large-8 columns text-center">
      <h1>Releases</h1>
  	</div>
  </div>
  
  <div class="row music__section__projects small-up-1 medium-up-2 large-up-3">
    {% assign releases = site.releases %}
    {% for project in releases %}
      <div class="columns" data-aos="fade-in">
      {% include excerpt.html %}
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Releases -->

<!-- Production -->
<section class="music__section">
  <div class="row align-center music__section__title">
  	<div class="medium-10 large-8 columns text-center">
      <h1>Production</h1>
  	</div>
  </div>
  
  <div class="row music_section__projects small-up-1 medium-up-2 large-up-3">
    {% assign productions = site.production %}
    {% for project in productions %}
      <div class="columns" data-aos="fade-in">
      {% include excerpt.html %}
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Production -->

<!-- Scoring / Film -->
<section class="music__section">
  <div class="row align-center music__section__title">
  	<div class="medium-10 large-8 columns text-center">
      <h1>Scoring / Film</h1>
  	</div>
  </div>
  
  <div class="row music_section__projects small-up-1 medium-up-2 large-up-3">
    {% assign scoring-film = site.scoring-film %}
    {% for project in scoring-film %}
      <div class="columns" data-aos="fade-in">
      {% include excerpt.html %}
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Scoring / Film -->

