---
layout: default
---

<!-- Releases -->
<section class="index__production">
  
  <div class="row align-center music__section__title">
  	<div class="medium-10 large-8 columns text-center" >
      <h1>{{page.title}}</h1>
  	</div>
  </div>
  
  <div class="row index__releases__projects small-up-1 medium-up-2 large-up-3">
    {% assign productions = site.production %}
    {% for project in productions %}
      <div class="columns" data-aos="fade-in">
      {% include excerpt.html %}
      </div>
    {% endfor %}
  </div>
  
</section>
<!-- End Releases -->
